In [1]:
import pandas as pd

df = pd.read_csv("vendas_pais.csv", sep=";")

display(df)

       id_produto                              pais  volumes
0             264                        Alemanha\r      357
1             131                        Alemanha\r      344
2             526                        Alemanha\r      342
3             896                        Alemanha\r      325
4             646                        Alemanha\r      321
...           ...                               ...      ...
13995         233  República Democrática do Congo\r       15
13996         455                         Senegal\r       12
13997         111                   África do Sul\r       11
13998         857                          Canadá\r        8
13999         645                          Canadá\r        1

[14000 rows x 3 columns]

In [33]:
maior_venda_por_pais = {}

for i in range(len(df)):

    if df["pais"][i] in maior_venda_por_pais:
        continue
    else:
        maior_venda_por_pais[ df["pais"][i] ] = [ df["id_produto"][i], df["volumes"][i]]

In [36]:
for pais in maior_venda_por_pais:
    print(f" - País: {pais[:-1]}\n - ID do produto mais vendido: {maior_venda_por_pais[pais][0]}\n - Quantidade vendida: {maior_venda_por_pais[pais][1]}\n")

 - País: Alemanha
 - ID do produto mais vendido: 264
 - Quantidade vendida: 357

 - País: Austrália
 - ID do produto mais vendido: 336
 - Quantidade vendida: 281

 - País: Japão
 - ID do produto mais vendido: 638
 - Quantidade vendida: 269

 - País: Quênia
 - ID do produto mais vendido: 35
 - Quantidade vendida: 262

 - País: Singapura
 - ID do produto mais vendido: 126
 - Quantidade vendida: 259

 - País: Indonésia
 - ID do produto mais vendido: 475
 - Quantidade vendida: 182

 - País: Argentina
 - ID do produto mais vendido: 13
 - Quantidade vendida: 174

 - País: Canadá
 - ID do produto mais vendido: 739
 - Quantidade vendida: 164

 - País: África do Sul
 - ID do produto mais vendido: 925
 - Quantidade vendida: 161

 - País: Senegal
 - ID do produto mais vendido: 6
 - Quantidade vendida: 155

 - País: Malásia
 - ID do produto mais vendido: 835
 - Quantidade vendida: 154

 - País: Brasil
 - ID do produto mais vendido: 577
 - Quantidade vendida: 151

 - País: Nepal
 - ID do produto mais vendido: 183
 - Quantidade vendida: 151

 - País: República Democrática do Congo
 - ID do produto mais vendido: 635
 - Quantidade vendida: 142